.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* .bots-containers {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
} */

.bots-collection {
  display: flex;
  width: fit-content;
  border: 1px solid;
  border-radius: 5px;
  flex-wrap: wrap;
}
.bot-collection {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 5px;
  flex-wrap: wrap;
}
.bot-collection{
  background-color: #116331;
}

.each-bot {
  display: flex;
  flex-direction: column;
  width: 190px;
  border: 1px solid;
  border-radius: 5px;
  margin: 15px;
  overflow-wrap: break-word;
  height: fit-content;
}

 span {
  display: flex;
}

 span > p {
  padding-right: 10px;
  
}

img {
  background-color: rgb(84, 84, 81);
}

 button {
  background-color: red;
}

 h5, p {
  padding: 10px;
  font-size: xx-small;
  margin: 0px;
}
